<div class="products-container">
    <% products.forEach(function(product) { %>
        <div class="product">
            <h3>
                <%= product.name %>
            </h3>
            <p>
                <%= product.description %>
            </p>
            <img src="<%= product.image %>" alt="<%= product.name %>" />
            <p>Price: $<%= product.price %>
            </p>
            <button class="btn-details">Details</button>
            <button class="btn-buy">Buy</button>
        </div>
        <% }) %>
</div>